doctype html
html(lang="es")

head
    title #{titulo}
        meta(charset="UTF-8")
        title Tienda
        link(rel="stylesheet", href="/css/estilos.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
    h1 
        a(href="./tienda.html") Bienvenido a mi tienda

    div
        p #{textoparrafo}

        img(src="images/camiseta1.png", alt="camiseta")


    h2 Nuestras Camisetas

    ul
        li camiseta 1
        li camiseta 2
        li camiseta 3
        li camiseta 4
